h2 {
    color: #1e5bcc;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 46px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 0 0 40px;
    border-bottom: single #555;
    text-align: center;
}

h3 {
    color: #333333;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0 0 40px;
    text-align: center;
}

h5{
    color: #333333;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    
}

.nav {
    width: 270px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid #555555;
    text-align: left;
    background-color: #eeeeee;
}
.nav.is-shown {
    display : block;
    visibility: visible;;
    opacity: 1;
}

.nav-header {
    position: relative;
    padding: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #555555;
}

.nav-title {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}


.nav-button {
    display: block;
    width: 100%;
    padding: .3rem;
    padding-left: calc(5px + .5rem); /* padding + icon + magic */
    line-height: 2;
    text-align: left;
    font: inherit;
    font-size: 13px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
    box-shadow: 0 0px 0 #004599;
}
.nav-button:hover,
.nav-button:focus:not(.is-selected) {
    background-color: hsla(0,0%,0%,.1);
}
.nav-button.is-selected {
    background-color: gray;/*var(--color-accent);*/
}
.nav-button.is-selected,
.nav-button.is-selected em {
    color: #fff;
}
.nav-button.is-selected:focus {
    opacity: .8;
}

.nav-button em {
    font-style: normal;
    font-weight: 600;
    color: var(--color-strong);
    pointer-events: none; /* makes it invisible to clicks */
}

.nav-footer {
    position: fixed;
    bottom: 0px;
    margin-top: 1rem;
    padding: 2rem;
    border-top: 1px solid #555555;
    text-align: center;
    color: #333333;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0 0 40px;
    text-align: center;
}


.nav-footer a {
    outline: none;
}

