*{
    font-family: Arial;
}

h1 { color: #1e5bcc;
     font-family: 'Helvetica Neue', sans-serif;
     font-size: 46px;
     font-weight: 100;
     line-height: 50px;
     letter-spacing: 1px;
     padding: 0 0 40px;
     text-align: center;
     position : absolute;
     left: 0px;
    top: 0px;
   }

h2 {
    color: #d34a17;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 46px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 0 0 40px;
    border-bottom: single #555;
    text-align: center;
    position : absolute;
    left: 0px;
    top: 200px;
}

enunciado{
    height: 350px;
    width: 600px;
    position : absolute;
    left: 290px;
    top: 40px;
    background-color: #dddddd;
    border-radius: 18px;
    text-align: justify;
    font-size: 18px;
    padding: 10px 10px;
    overflow-y: scroll;
}
options{
    height: 250px;
    width: 600px;
    position : absolute;
    left: 290px;
    top: 410px;
    background-color: #dddddd;
    border-radius: 18px;
    text-align: justify;
    padding: 10px 10px;
    overflow-y: scroll;
}

answers{
    height: 610px;
    width: 600px;
    position : absolute;
    left: 290px;
    top: 40px;
    background-color: #dddddd;
    border-radius: 18px;
    text-align: justify;
    font-size: 13px;
    padding: 10px 10px;
    overflow-y: scroll;
}

answers{
    height: 400px;
    width: 600px;
    position : absolute;
    left: 290px;
    top: 40px;
    background-color: #dddddd;
    border-radius: 18px;
    text-align: justify;
    font-size: 13px;
    padding: 10px 10px;
    overflow-y: scroll;
}

button {
    border: 0;
    background: #2e6bdc;
    border-radius: 4px;
    box-shadow: 0 5px 0 #004599;
    color: #ffffff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    text-align: center;
}

.next{
    width: 60px;
    height: 30px;
    padding: 0px 0px;
    position : absolute;
    left: 1000px;
    top: 250px;
}



.option-button{
    padding: 2px 2px;
    /*background: #000000;*/
    width: 100%;
    font-size: 16px;
    text-align: justify;
}

button:hover{
    background: #2db34a;
    box-shadow: 0 5px 0 #0d932a;
}
button:active {
    box-shadow: 0 2px 0 #0d932a;
    transform: translateY(3px);
}

.end{
    width: 270px;
    height: 100px;
    padding: 0px 0px;
    position : absolute;
    left: 900px;
    top: 250px;
    box-shadow: 0 5px 0 #0d932a;
    background: #2db34a;
    z-index: 1;
}

status{
    height: 25px;
    width: 600px;
    position : absolute;
    left: 290px;
    top: 10px;
    text-align:left;
    background-color: #999999;
}

.progress_bar{
    height:100%;
    width:50%;
    background: #2e6bdc;
    font-size: 13px;
    padding: 0px 0px;
    text-align: justify;
    box-shadow: 0 0px 0 #004599;
}
.progress_bar:hover{
    background: #2e6bdc;
    box-shadow: 0 0px 0 #0d932a;
}
.progress_bar:active {
    box-shadow: 0 0px 0 #0d932a;
    transform: translateY(0px);
}

timer{
    height: 100px;
    width: 200px;
    position : absolute;
    left: 10px;
    top: 500px;
    background-color: #dddddd;
    border-radius: 18px;
    text-align: justify;
    font-size: 20px;
    padding: 10px 10px;
}
